@use './variables' as *;

.community{
    padding: 30px;

    .overview{
        margin-top: 20px;
        border: 2px solid green;    
        height: 500px;  
        .heading{
            border-bottom: 2px solid green;        
            h3{
                padding-left: 10px;
                display: inline-block;
                padding-right: 700px;
            }
            button{
                margin-left: 10px;
            }
        }
    }  
}
