@use './variables.scss' as *;
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: $brand-color;
    img{
        width: 150px;
        padding: 10px 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navLinks{
        display: flex;
        margin-right: 100px;
    }
    .navLink{
        padding: 20px;
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .5px;
        text-decoration: none;
        color: white;
        font-size: 1em;
        width: 200px;
        text-align: center;
    }
    a:hover {
        background-color: $hover-color;
    }
}