@use './variables' as *;
.organization, .branch{
    overflow: hidden;
    tr:hover{
        cursor: pointer;
    }
}
.errorBox{
    p{
        margin: 0;
        color: red;
        font-size: 15px;
    }
    padding: 10px;
    max-height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #f0ffc6;
    border: 1px solid rgb(196, 53, 1);
}
table{
    height: calc(100vh - 120px);
    overflow-x: scroll;
}
.upload-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.upload table{
    height: calc(80vh - 120px);
}
#modal{
    position: absolute;
    z-index: 999;
    
}
#modal .split-col{
    form{
        display: flex;
        flex-direction: row;
        width: 80vw;
        max-width: 800px;
        padding: 20px 0px;
    }
    h1{
        font-size: 20px;
    }
    .col-1, .col-2{
        flex-basis: 50%;
        width: 50%;
        margin: 0 20px;
    }
    input, select{
        width: 100%;
        max-width: 100%;
    }
    input[type="checkbox"]{
        width: 50px;
    }
}

.submenu{
    list-style-type: none;
    background-color: #006751;
    padding: 0;
    position: relative;
    z-index: -1;
    top: -200px;
    opacity: 0;
    transition: .2s ease-in;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.dropdown:hover .submenu{
    top: 0px;
    opacity: 1;
    z-index: -1;
    transition: .2s ease-in;
}
.submenu li:hover{
    background-color: #004936;
    transition: .2s ease-in;
    
}
.dropdown{
    position: relative;
    z-index: 99;
    transition: .2s ease-in;
}
#modal div div{
    border-radius: 10px;
}
#modal{
    label{
        width: 100%;
    }
}
.required label{
    display: flex;
    flex-direction: row;
}
.required label:after{
    display: inline;
    content: '*';
    color: red;
    width: 15px;
    margin-left: 2px;
}
.organization{
    width: 78%;
    margin: 0;
    table{
        height: calc(100vh - 120px);
    }
    .pagination{
        position: relative;
    }
    td:last-child, th:last-child{
        min-width: 100px;
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
        clip-path: inset(0px 0 0px -50px);
    }
    
    .actions{
        display: flex;
        justify-content: center;
    }
}
.copy-mode{
    padding: 10px;
    margin-top: 20px;
}
.branch{
    td:last-child, th:last-child{
        min-width: 100px;
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.2);
        clip-path: inset(0px 0 0px -50px);
    }
    .actions{
        display: flex;
        justify-content: center;
    }
}
.contact{
    .branchDetails{
        height: 18vh;
        display: flex;
        justify-content: space-between;
    }
    h2{
        font-size: 15px;
        margin-bottom: 5px;
    }
    p{
        margin: 0;
    }
    table{
        height: 70vh;
        
    }
}
.edit:hover{
    color: rgb(8, 97, 197);
}
.delete:hover{
    color: red;
}
.branches h1{
    margin-left: 10vw;
}

table {
    margin: 15px auto auto auto;
    border-radius: 5px;
    overflow-x: auto;
    display: block;
    border-collapse: separate;
}
th {
    background-color: #005c48;
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: .9em;
    border: 1px solid $brand-color;
    text-transform: uppercase;
    min-width: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
}
.organization, .search{
th:nth-child(1), th:nth-child(2){
    background-color: $brand-color;
    top: 0;
    z-index: 99;
}
th:nth-child(1), th:nth-child(2),
td:nth-child(1), td:nth-child(2){
    position: -webkit-sticky;
    position: sticky;
  

    
}
td:nth-child(1), th:nth-child(1){
    min-width: 50px;
    left: 0px;
    
}
td:nth-child(2), th:nth-child(2){
    min-width: 300px;

    left: 50px;
    box-shadow: 10px 0px 37px 0px rgba(0,0,0,0.2);
    clip-path: inset(0px -50px 0px 0px);

}
}
// td:last-child{
//     min-width: 100px;
//     right: 0px;
//     border-left: 1px solid #B3B3B3;
// }
td {
    text-align: center;
    border-right: 1px solid #B3B3B3;
    padding: 5px 5px;
    background-color: white;
    

}
tr{
    position: relative;
}
tr:hover:after{
    opacity: .1;
}
tr:after{
    content: "";
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 999;
    opacity: 0;

}
tr:nth-child(odd) td {
    background-color: #EFEFEF;
}
.medium-col{
    width: 180px;
}
.small-col{
    width: 70px;
}
.large-col{
    width: 250px;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
}
.t-num {
    min-width: 80px;
    left: 0px;
}

// .t-community {
//     min-width: 300px;
//     left: 80px;
// }
// .t-branch{
//     min-width: 300px;

// }
// .t-busAdd{
//     min-width: 300px;
// }
// .t-busSt {
//     min-width: 300px;
//     left: 0px;
// }

// .t-busCity {
//     min-width: 300px;
//     left: 80px;
// }
// .t-busProv{
//     min-width: 300px;

// }
// .t-busPost{
//     min-width: 300px;
// }
// .t-mailAdd {
//     min-width: 300px;
//     left: 0px;
// }

// .t-mailSt {
//     min-width: 300px;
//     left: 80px;
// }
// .t-mailCity{
//     min-width: 300px;

// }
// .t-mailProv{
//     min-width: 300px;
// }
// .t-busSt {
//     min-width: 300px;
//     left: 0px;
// }

// .t-busCity {
//     min-width: 300px;
//     left: 80px;
// }
// .t-busProv{
//     min-width: 300px;

// }
// .t-mailPost{
//     min-width: 300px;
// }
.t-actions{
    min-width: 100px;
    right: 0;
}
.form-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebar form{
    width: 100%;
}
.sidebar h2{
    margin: 50px 0 0;
}
.dropdown-page{
    min-width: 608px;
    td:nth-child(2), th:nth-child(2){
        min-width: 400px;
        text-align: left;
        padding-left: 15px;
    }
    td:last-child, th:last-child{
        min-width: 120px;
    }
    .actions{
        display: flex;
        justify-content: center;
    }
}
.close-modal{
    position: absolute;
    right: 10px;
}

#modal{
    button[type="submit"]{
        margin-top: 20px;
    }
    form label{
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .submit{
        margin-top: 20px;
    }
}
.community table{
    width: 100%;
    height: calc(100vh - 120px);
}
.icon{
    padding: 8px;
    background: none;
    margin: 0 2px;
}
.branch{
    padding: 0px 50px;
    button{
        padding: 8px;
        background: none;
    }

}

.jump-page{
    margin-top:10px;
    input{
        width: 40px;
        padding: 5px 3px;
        margin: 0 5px;
    }
}
.sidebar textarea{
    margin-bottom: 20px;
    margin-top: 0;
}
.error-page{
    font-size: 12px;
    opacity: .5;
    color: red;
    margin: 5px 0 0 0;
}
.comment-list{
    list-style-type: none;
    padding: 20px 0 0 0;
    height: 300px;
    overflow-y: scroll;
    p{
        margin: 0 0 5px 0;
    }
    li{
        padding-bottom: 15px;
    }
}
.comment-list .date{
    font-size: 12px;
    opacity: .5;
}
textarea{
    resize: none;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    label{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    input, textarea{
        max-width: 400px;
        padding: 7px 5px;
        margin-top: 5px;
    }
    select{
        max-width: 300px;
        padding: 10px 5px;
        margin-top: 5px;
    }
    button{
        padding: 10px;
        
        max-width: 200px;
    }
}
