@use './variables' as *;
table {
    margin: 15px auto auto auto;
    border: 1px solid black;
    min-width: 80vw;
    border-collapse: separate;
}
th {
    background-color: $brand-color;
    color: white;
    padding: 5px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.377);
}


.sticky-col {
    position: -webkit-sticky;
    position: sticky;
}
.org-num {
    width: 50px;
    left: 0px;
}

.org-name {
    width: 200px;
    left: 50px;
}
