@use './variables' as *;



.upload{
    margin: 50px 20px;
    .downloadTemplate{
        margin: 30px 0;
        a{
            padding: 10px;
            border: solid 1px grey;
            color: white;
            background-color: $brand-color;
            text-decoration: none;
            border-radius: 5px;
        }
    }
    .uploadFileDiv button{
        margin-left: 10px;
    }
    .message{
        max-width: 500px;
        margin: 30px auto;
        border: 1px solid red;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
    }
    .paginationBUpload{
        margin-top: 20px;
        padding: 10px;
        border: 1px solid grey;
        max-width: fit-content;
        border-radius: 5px;
        background-color: #ededed;
        label{
            margin: 0 20px;
        }
        p{
            margin: 10px 0 0 0;
        }
        button{
            width: 40px;
            text-align: center;
            padding: 5px;
            background-color: white;
            border: none;
            margin-left: 5px;
        }
        input{
            width: 40px;
            padding: 5px 3px;
        }
    }
}