@use './variables' as *;



.upload{
    margin: 100px 20px;
    .downloadTemplate{
        margin-bottom: 30px;
        a{
            padding: 10px;
            border: solid 1px grey;
            color: white;
            background-color: $brand-color;
            text-decoration: none;
            border-radius: 5px;
        }
    }
    
    .message{
        max-width: 500px;
        margin: 30px auto;
        border: 1px solid red;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
    }
    .paginationBUpload{
        margin-top: 20px;
        padding: 10px;
        border: 1px solid grey;
        max-width: fit-content;
        border-radius: 5px;
        background-color: #ededed;
        button{
            width: 100px;
            text-align: center;
            padding: 5px;
            color: white;
            background-color: $brand-color;
            border: none;
            margin-left: 5px;
        }
    }
}