@use './variables' as *;



.upload{
    margin: 100px 20px;
    .downloadTemplate{
        margin-bottom: 30px;
        a{
            padding: 10px;
            border: solid 1px grey;
            color: white;
            background-color: $brand-color;
            text-decoration: none;
            border-radius: 5px;
        }
    }
    
    .message{
        max-width: 500px;
        margin: 30px auto;
        border: 1px solid $brand-color;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
    }
}